// colors

$red-red-900: #900;
$red-red-300: #EB9D73;
$semantic-error: #C71B2A;
$yellow-yellow-700: #FCD000;
$yellow-yellow-300: #FFF7D1;
$gray-gray-900: #333;
$gray-gray-800: #666;
$gray-gray-700: #808080;
$gray-gray-400: #DFDFDF;
$gray-gray-300: #E6E6E6;
$gray-gray-custom: #3E3F3A; //you lost this in figma
$black-gray-custom: #3D0205; //you lost this in figma
$background-300: #FCF8EF;
$background-000: #fff;
$brown-brown-400: #DFD7CA;
$brown-brown-700: #9F917A;

// transitions
$main-transition: all 0.5s linear;

// shadows 
$shadow-main: 0px 1px 2px rgba(0, 0, 0, 0.30);
$shadow-100: 0px 8px 20px rgba(0, 0, 0, 0.08);
$shadow-200: 0px 4px 6px rgba(0, 0, 0, 0.25);
